.eticket-header{
  width: 100%;
  height: 88px;
  line-height: 88px;
  font-size: 0.48rem;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  strong{
    position: absolute;
    right: 50px;
  }
}
.eticket-content{
  height: 1200px;
  background: #fefefe;
  img{
    width: 220px;
    height: 155px;
    margin-top: 300px;
  }
  p{
    color: #999999;
    font-size: 0.34667rem;
    margin-top: 0.58667rem;
  }
  div{
    margin: 0 auto;
    margin-top: 1.33333rem;
    height: 1.06667rem;
    width: 3.86667rem;
    background: linear-gradient(-50deg,#FF4D4A,#FF9A34);
    font-size: 0.45rem;
    border-radius: 26.66667rem;
    line-height: 1.06667rem;
    color: white;
  }
}
.shade{
  position:fixed;
  top: 0;
  width: 100%;
  height: 1300px;
  background: #232323;
  opacity: 0.7;
  display: none;
}