.hot-header{
  width: 92%;
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  strong{
    font-size: 40px;
  }
}
.hot-show::-webkit-scrollbar {
  display:none
}
.hot-show{
  margin-left: 4%;
  display: flex;
  display: -webkit-box;
  overflow-x: scroll;
  -webkit-overflow-scrolling:touch;
  .hot-show-list{
    width: 200px;
    margin-right: 20px;
    text-align: left !important;
    img{
      height: 272px;
      border:2px solid #acacac;
      border-radius: 5px;
    }
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin: 5px 0;
      color: black;
    }
    .hot-price{
      color: #ff6743;
      font-size: 0.42667rem;
    }
    .hot-hei{
      font-size: 0.29333rem;
      color: #999;
    }
  }

}
