.theatre_header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    background-color: #fefefe;
    z-index: 100;
}
.theatre_header_h3{
    font-size: 34px;
    font-weight: normal;
}
